@model List<TH.Domain.User.Doctor>

@{
    ViewBag.Title = "Add Doctor";
}

<h1>Available doctors for your team</h1>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>FirstName</th>
            <th>Surname</th>
            <th></th>
        </tr>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.FirstName</td>
                <td>@doctor.LastName</td>
                <td>
                    @Html.ActionLink("Add", "AddToTeam", new { doctorId = doctor.UserId })
                </td>
            </tr>
        }
    </table>
}
else
{
    @Html.Raw("No Doctors available")
}