
@{
    ViewBag.Title = "Index";
}

<h2>Consultant Menu</h2>

<ul class="menu">
    <li>
        @Html.ActionLink("Search Patients", "Search", "Patient")
    </li>
    <li>
        @Html.ActionLink("Manage Team", "ManageTeam", "Consultant")
    </li>
    <li>
        @Html.ActionLink("View Upcoming Treatments", "ViewTreatments", "Consultant")
    </li>
</ul>
