@{
    ViewBag.Title = "Consultant Dashboard";
}

<h2>Consultant Dashboard</h2>

<ul class="menu">
    <li>
        @Html.ActionLink("View Team", "ViewTeam", "Consultant")
    </li>
    <li>
        @Html.ActionLink("Add Doctor to Team", "AddDoctor", "Consultant")
    </li>
</ul>
