
@{
    ViewBag.Title = "ViewTreatments";
}

<h2>ViewTreatments</h2>

<table>
    <tr>
        <td>Date</td>
        <td>Patient</td>
        <td>Treatment</td>
    </tr>
    <tr>
        <td>11/07/2014</td>
        <td>James Smith</td>
        <td>Physiotherapy</td>
    </tr>
    <tr>
        <td>14/07/2014</td>
        <td>Kimmy Grey</td>
        <td>Hormone therapy</td>
    </tr>
</table>