@{
    ViewBag.Title = "Error";
}

<div class="error">
    Sorry an error occurred. My little server takes time, please stop clicking so fast.
    <br/>
    Please try again and remember you saw nothing here! 
    <br />
    <img src="@Url.Content("~/Images/BeHappy.png")" alt="Be Happy" />
</div>