@{
    ViewBag.Title = "Error";
}

<div class="error">
    Sorry an error occurred. Please try again and don't worry be happy!
    <br/>
    <img src="@Url.Content("~/Images/BeHappy.png")" alt="Be Happy" />
</div>