@{
    ViewBag.Title = "Error";
}

<div class="error">
    Sorry an error occurred. My little server takes time, please stop clicking so fast.
    <br/>
    And remember, there is no cure for bloaty head!
    <br />
    <img src="@Url.Content("~/Images/Bloaty.png")" alt="Be Happy" />
</div>