@model TH.WebSystem.Models.AssignToWardViewModel

<h1>Assign to Ward</h1>
<hr/>

@foreach (var ward in Model.Wards)
{
    <h4>Ward @ward.Number</h4>
    if (ward.AvailableBeds.Any())
    {
        <table class="table">
            <tr>
                <th>
                    Bed number
                </th>
                <th>
                    Options
                </th>
            </tr>
            @foreach (var bed in ward.AvailableBeds.OrderBy(b => b.Number))
            {
                <tr>
                    <td>
                        @bed.Number
                    </td>
                    <td>
                        @Html.ActionLink("Assign to bed", "AssignBed", "Patient", new { bedId = bed.BedId, patientId = Model.PatientId }, null)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>There are currently no availbalbe beds for this ward.</p>
        @Html.ActionLink("Add to ward waiting list", "AddToWaitingList", "Ward", new { wardId = ward.WardId, patientId = Model.PatientId });
    }
}