@model TH.WebSystem.Models.DisplayWardsViewModel

<h1>Wards</h1>
<hr />

<table class="table" width="100%">
    
    <tr>
        <tH>Ward number</tH>
        <th>Ward capasity</th>
        <th>Number of avalable beds</th>
    </tr>
    
    @foreach (var ward in Model.Wards) {
    
    <tr>
        <td>
            @ward.Number
        </td>
        <td>
            @ward.Beds.Count()
        </td>
        <td>
            @ward.AvailableBeds.Count()
        </td>
    </tr>
}

</table>
