@model TH.WebSystem.Models.DisplayWardWaitingListViewModel

@{
    ViewBag.Title = "WaitingList";
}

<h2>WaitingList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var patient in Model.Patients.OrderBy(patient.CurrentVisit.AdmittedDate))
{
    <tr>
        <td>
            @patient.FullName
        </td>
        <td>
            @patient.CurrentVisit.AdmittedDate.ToString()
        </td>
    </tr>
}

</table>
