@model dynamic

@{
    ViewBag.Title = "Receptionist Dashboard";
}

<h2>Receptionist Dashboard</h2>

<ul class="menu">
    <li>
        @Html.ActionLink("Add New Patient", "AddPatient", "Receptionist")
    </li>
    <li>
        @Html.ActionLink("Search Patient", "Search", "Patient")
    </li>
    <li>
        @Html.ActionLink("Ward waiting list", "AddPatient", "Receptionist")
    </li>
</ul>
