@{
    ViewBag.Title = "Receptionist Dashboard";
}

<h2>Receptionist Dashboard</h2>
<hr/>

<ul class="menu">
    <li>
        @Html.ActionLink("Add New Patient", "AddPatient", "Receptionist")
    </li>
    <li>
        @Html.ActionLink("Search Patients", "Search", "Patient")
    </li>
    <li>
        @Html.ActionLink("View Current Patients", "Index", "Patient")
    </li>
    <li>
        @Html.ActionLink("Wards", "Index", "Ward")
    </li>
</ul>
