
@{
    ViewBag.Title = "Doctor Dasboard";
}

<h2>Doctor Menu</h2>

<ul class="menu">
    <li>
        @Html.ActionLink("View Current Patients", "Index", "Patient")
    </li>
    <li>
        @Html.ActionLink("View My Assigned Treatments", "ViewTreatments", "Treatment")
    </li>
</ul>
