@model TH.WebSystem.Models.DisplayWardsViewModel

<h2>Wards</h2>


<table class="table">

@foreach (var ward in Model.Wards) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => ward.Number)
        </td>
    </tr>
}

</table>
