@using System.Web.UI.WebControls
@model TH.WebSystem.Models.VisitCreateNoteViewModel

<h1>Create note for Visit</h1>
<hr />

@using (Html.BeginForm("CreateNote", "Visit", FormMethod.Post))
{
    @Html.HiddenFor(model => model.VisitId)

    <table width="100%">
        <tr>
            <td style="width: 50px;">@Html.LabelFor(model => model.NoteContent)</td>
            <td>
                @Html.TextAreaFor(model => model.NoteContent, new { @Style = "width : 100%; height: 150px;" })
                <input type="submit" value="Create" class="button" style="float: right;">
            </td>
        </tr>
    </table>
}

