/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

    CSS Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: THTitle;
    src: url(../Fonts/Frutiger-Ultra-Black.ttf);
}

@font-face {
    font-family: THBody;
    src: url(../Fonts/Optimum-Roman.ttf);
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 30px;
}
 
::-webkit-scrollbar-track {
    background-color: DARKGREY;
}
 
::-webkit-scrollbar-thumb {
    background-color: #c7553c;
}

::-webkit-scrollbar-corner {
	background-color: GREY;
}

h1 {
	font-family: THTitle;
}

h2 {
	font-family: THTitle;
}

h3 {
	font-family: THTitle;
}

h4 {
	font-family: THBody;
	font-weight: bold;
	font-size: 18px;
	margin: 5px 0;
}
html {
    background-color: #3cacc8;
    cursor:url(../Images/cursor.png), auto;
}

* {
    box-sizing: border-box;
}

body {
	color: WHITE;
	font-family: THBody;
	text-shadow: 1px 1px BLACK;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 5px;
    background-color: #005d79;
}

li {
    display: inline-block;
    width:100px;
    padding: 5px 10px;
    margin-right: 5px;
    text-align: center;
    vertical-align: top;
}

input[type=text],
input[type=text]:focus,
input[type=password],
input[type=password]:focus {
	height: 30px;
	width: 100%;
	padding: 10px;
	margin: 5px 0;

	background-color: #38a6c7;

	border-radius: 3px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #50c4d7;
	box-shadow: inset 1px 1px 1px 0 #005d79, inset -1px -1px 1px #59d3e3;

	outline: none;

	color: WHITE;
	font-family: THBody;
	font-size: 15px;

	cursor:url(../Images/cursor.png), auto;
}

textarea {
	padding: 10px;
	margin: 5px;

	background-color: #38a6c7;

	border-radius: 3px;
	border: 1px solid transparent;
	border-top: none;
	border-bottom: 1px solid #50c4d7;
	box-shadow: inset 1px 1px 1px 0 #005d79, inset -1px -1px 1px #59d3e3;

	outline: none;

	color: WHITE;
	font-family: THBody;
	font-size: 15px;

	cursor:url(../Images/cursor.png), auto;
}

input[type=submit] {
	padding: 10px 10px;

	background:#00a27d; 

	border:2px solid #00a27d;
	border-radius: 5px; 
	box-shadow: inset 2px 2px 2px 0 #51e6c4, inset -2px -2px 2px #1b9e80;

	color: WHITE;

	cursor:url(../Images/cursor.png), auto;
}

input[type=submit]:hover {
	background:#06ba91; 
}

::-webkit-input-placeholder {
   color: LIGHTGREY;
}

:-moz-placeholder {
   color: LIGHTGREY;  
}

::-moz-placeholder {
   color: LIGHTGREY;  
}

:-ms-input-placeholder {  
   color: LIGHTGREY;  
}

table { 
    border-spacing: 8px;
    border-collapse: separate;
}

th {
	text-align: left;
}

tr:first-child:hover {
    background-color: #3cacc8;
}

tr:hover {
	background-color: #5cd4f3;
}

td {
	margin: 50px;
	padding: 10px 20px;
	box-shadow: inset 3px 3px 3px 0 #005d79, inset -3px -3px 3px #59d3e3;
}

input[type=radio] {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

input[type=radio] + label {
	padding-left:28px;
	height:23px; 
	display:inline-block;
	line-height:23px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:23px;
	vertical-align:middle;
	cursor:pointer;
	padding-left: 35px;
}

input[type=radio]:checked + label {
	background-position: 0 -23px;
	padding-left: 35px;
}

ul {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

li:hover {
    background-color: #ab2d07;
    box-shadow: inset 5px 5px 5px 0 #862428, inset -5px -5px 5px #c7553c;
}

.container {
	width: 1000px;
	margin: auto;
}

li, 
.box {
	border-style: solid;
	border-color: #005475;
	border-width: 2px;

	border-radius: 5px;
	padding: 10px 15px 15px 12px;
	box-shadow: inset 5px 5px 5px 0 #005d79, inset -5px -5px 5px #59d3e3;
}

.blackBox {
	border-style: solid;
	border-color: WHITE;
	border-width: 2px;

	background-color: BLACK;
	color: WHITE;

	text-shadow: none;
}

.buttonImage {
	width:100%;
	margin-bottom: 5px;
	background-color: #3cacc8;
	border : 2px solid WHITE;
}

.loginImage {
    display: block;
    margin: 30px auto;
    width: 280px;
}

.loginHeader {
    width: 100%;
    margin: 30px 0;
    text-align: center;
}

.loginForm {
    width: 280px;
    margin: 30px auto 60px auto;
    overflow: hidden;
}

.loginButton {
    float: right;
}

.menu{
    width: 200px;
    margin: 0 auto;
    display: block;
}

.menu li{
    display: block;
    margin-bottom: 10px;
}